* {
  padding: 0;
  margin: 0;
  border: border-box;
  font-family: 'Poppins', Arial, sans-serif;
}

body {
  overflow: hidden;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 999;
}
#preloader .inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.background {
  width: 103%;
  z-index: -1;
  top: -8px;
  left: -8px;
  position: absolute;

  filter: saturate(0) blur(10px) opacity(0.7);
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 0px;
  margin: 0px 60px;
  border-bottom: 1px solid black;
}

hr {
  margin: 0 45px;
}

.title {
  font-size: 45px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: #171616;
}

.nav_rigth {
  display: flex;
  flex-direction: column;
}

.navigations {
  font-size: 15px;
  font-weight: 300;
  text-decoration: none;
  text-transform: uppercase;
  color: #171616;
}

main {
  margin: 75px 60px 0 60px;
  display: flex;
  justify-content: space-between;
}

h1 {
  font-size: 135px;
  letter-spacing: 0.755em;
  text-transform: uppercase;
  line-height: 125px;
}

.imgContainer {
  width: 35em;
  height: 35em;
  background: url('./assets/Pic1.png') no-repeat;
  background-position: 50% 0;
  background-size: cover;
  border-radius: 200px 0px 0px 0px;
  box-shadow: 5px 5px 7px 0px rgba(0, 0, 0, 0.25);
}
